.service-modal {
  margin: 10px;
}
.service-img {
  position: relative;
  width: 100%;
  height: 500px;
}

.serviceTitle {
  color: #991146;
}

.serviceDescription {
  margin: 10px;
  font-size: 1.2em;
}

.addToCartService {
  background-color: #991145;
  color: white;
  width: 100%;
  font-size: 22px;
  height: 40px;
  transition: background-color ease 0.3s;
}
.addToCartService:hover {
  background-color: #118c99;
  transition: background-color ease 0.3s;
}
.ratingService {
  margin-top: 20px;
}

.service-h4 {
  text-align: center;
}
